.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
  background-color: rgb(112, 76, 182);
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);

  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}



.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: '';
  background-color: rgba(112, 76, 182, 0.15);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}



button.buttonThermite {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182, 0);
  background-color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;

  margin-left: 4px;
  margin-right: 8px;

}


button.greenInactive {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(152, 199, 150, 0);
  background-color: rgb(152, 199, 150);
  background-image: url('./mushroom_green.svg');
  background-size: cover;
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;

  margin-left: 4px;
  margin-right: 8px;

}

button.blueInactive {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(115, 152, 207, 0);
  background-color: rgb(115, 152, 207);
  background-image: url('./mushroom_blue.svg');
  background-size: cover;
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;

  margin-left: 4px;
  margin-right: 8px;

}

button.redInactive {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(148, 93, 93, 0);
  background-color: rgb(148, 93, 93);
  background-image: url('./mushroom_red.svg');
  background-size: cover;
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;

  margin-left: 4px;
  margin-right: 8px;

}


button.greenActive {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(80, 182, 76, 0);
  background-color: rgb(80, 182, 76);
  background-image: url('./mushroom_green.svg');
  background-size: cover;
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;

  margin-left: 4px;
  margin-right: 8px;

}

button.blueActive {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgba(50, 132, 255, 0);
  background-color: rgb(50, 132, 255);
  background-image: url('./mushroom_blue.svg');
  background-size: cover;
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;

  margin-left: 4px;
  margin-right: 8px;

}

button.redActive {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(197, 6, 6, 0);
  background-color: rgb(197, 6, 6);
  background-image: url('./mushroom_red.svg');
  background-size: cover;
  padding-bottom: 4px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;

  margin-left: 4px;
  margin-right: 8px;

}

button.optimal {
  border: 4px solid rgb(255, 240, 25);
}