h2 {
  margin-block-end: 0em;
  margin-block-end: 0em;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 8px;
}

.endScreen {
  font-family: Georgia, serif;
  font-size: 200px;
  padding: 20px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;


}

.button {
  appearance: none;
  background: none;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(212, 212, 212);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.button:hover,
.button:focus {
  
  background-color: rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
  composes: button;
  position: relative;
}

.asyncButton:after {
  content: '';
  background-color: rgba(112, 76, 182, 0.15);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}

.modebar-container {
  display: none;
}

.spellstatus {
  height: 16px; 
  width: 16px;
}

.valueImage {
  height: 78px; 
  width: 78px;
}

.destinationImage {
  height: 48px; 
  width: 48px;
  display:block;
    margin:auto;
}

.hpheart {
  height: 32px; 
  width: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .hpheart {
    animation: hpheartthrob infinite 3s ease-in-out;
  }
}

@keyframes hpheartthrob {
  0% {
    transform: scale(0.85);
  }
  25% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(0.85);
  }
}


.hpheartFaster {
  height: 32px; 
  width: 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .hpheartFaster {
    animation: hpheartthrobFaster infinite 1.5s ease-in-out;
  }
}


@keyframes hpheartthrobFaster {
  0% {
    transform: scale(0.85);
  }
  25% {
    transform: scale(1.10);
  }
  50% {
    transform: scale(0.85);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(0.85);
  }
}

.bossImage {
  height: 256px; 
  width: 256px;
}

@media (prefers-reduced-motion: no-preference) {
  .bossImage {
    animation: bossImagePulse infinite 4.0s ease-in-out;
  }
}

@keyframes bossImagePulse {
  0% {
    transform: scale(1.0);
  }
  66% {
    transform: translate3d(-10px, 0, 0) scale(1.05);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.0);
  }
}

.animate__bounce {
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@media (prefers-reduced-motion: no-preference) {
  .animate__bounce {
    animation-name: bounce, bossImagePulse;
    animation-duration: 4.0s, 4.0s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-delay: 0ms, 4000ms;
    animation-iteration-count: 1, infinite;


  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1.0);
    transform: translate3d(0, 0, 0) scale(1.0);
  }

}



.slimerun {
  height:512px;
  width:512px;
  background: url('http://localhost:3000/Slime_Spiked_Run.png') ;
  background-size: 2048px 512px;
  animation: play 0.8s steps(4) infinite;
  margin-top: -140px;
  margin-bottom: -100px;
  margin-left: -20px;
  margin-right: -100px;
}
@keyframes play {
  100% {
    background-position: -2048px;
  }
}

.slimerunColor{
  background: rgba(39,62,84,0.82);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.sblock {
  display:flex; 
  flex-direction:column-reverse;
}

.sblock::-webkit-scrollbar{
  width:10px;
  height:10px;
  border-radius:10px;
}
.sblock::-webkit-scrollbar-track{
  border-radius:10px;
  background-color:rgba(41, 41, 41, 0.5)
}
.sblock::-webkit-scrollbar-thumb{
  border-radius:10px;
  background-color:rgba(200, 200, 200, 0.2)
}
.sblock::-webkit-scrollbar-corner{
  background-color:rgba(200, 200, 200, 0.2);
  border-color:rgba(200, 200, 200, 0.2)
}

button[class*='errorButton-'] {
  appearance: none;
  background: none;
  font-size: 16px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(212, 212, 212);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  font-weight: 600;
  border-radius: 2px;
  transition: all 0.15s;
  animation: errorButtonBorder 1 3s ease-in-out;

}

@media (prefers-reduced-motion: no-preference) {
  .errorButton {
    animation: errorButtonBorder 1 3s ease-in-out;
  }
}

@keyframes errorButtonBorder {
	0% {
		border-color: #f84c40;
	}
	100% {
		border-color: #00000000;
	}
}